
    <header class="row">
    
    <div class="intro col-8">
      
        
        <div class="d-flex">
         

    <img class="responsive-img" src="/assets/logo.png">

   <div class="homepage-search">
        <div class="search-container">
                <form action="/search/" type="GET" autocomplete="off" spellcheck="false" 
                style="position: relative; background-color: rgb(255, 255, 255);">
                <label class="ui_search" for="search">: :before</label>
                <input type="search" id="search" name="q" placeholder="Search for anything" 
                autocomplete="off" spellcheck="false">
                <div class="search-scope-container"></div>
                <input type="submit" tabindex="-1" 
                style="position: absolute; left: -9999px; width: 1px; height: 1px;">
                </form>
                 <div></div>
        </div>
    </div>

    <div class="card-panel hoverable"> Hoverable Card Panel</div>
        
   </div>
