
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>

<body>  
  <div class="wholeset">
    <div class="container">
          <div class="container2" style="display: flex; justify-content: center;">
            <img class="responsive-img" src="/assets/chalttok.png" style="width: 85%;">   
          </div>  
      <div class="row">
          <div class="col s12"> 
            <div class="input-field col s12">
              <i class="material-icons prefix">search</i> 
              <input type="text" id="autocomplete-input" class="autocomplete">
              <label for="autocomplete-input">Search</label>  
              <%= link_to "search", home_result_path %>
            </div>  
      </div>
    </div>

    <div class="lalavla">

        <div class="circle">    
        <span class="swing">moong</span>
        </div>

        <div class="circlee">    
        <span class="swing">daisy</span>
        </div> 

        <div class="circleee">    
        <span class="swing">siso</span>
        </div>  

        <div class="circleeee">    
        <span class="swing">dead</span>
        </div>  

        <div class="circleeeee">    
        <span class="swing">yaho</span>
        </div>   

    </div>
  </div>
</body>