.go {
    width: 500px;
}

.btn_global {
    font-size: 20px;
    font-weight: 700;
    line-height: 61px;
    display: block;
    width: 100%;
    height: 61px;
    margin: 30px 0 13px;
    padding-top: 2px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 0;
    background-color: #1fbc02;
    -webkit-appearance: none;
}

.input_row {
    width: 100%;
    position: relative;
    height: 50px;
    margin: 14px 14px 0;
    padding: 10px 35px 10px 15px;
    border: solid 1px #dadada;
    background: #fff;
}

.input_email{
    margin: 100px 14px 0;
}

.bemo_logo{
    width: 152px;
    height: 152px;
}

.logo1{
    width: 170px;
    height: 55px;
}

.search_logo{
    width: 215px;
    height: 33px;
}

.btn_login{
    background-color: white !important;
    color: blue !important;
    font-weight: bold !important;
}

.round_pic{
    border-radius: 50%;
}

.mika{
    font-size: 32px;
    line-height: 40px;
    font-weight: 200;
}

.btn_follow{
    width: 100px;
    height: 30px;
}

.follow{
    font-size: 16px;
}

.space{
    width: 50px;
}

.lil-space{
    width: 10px;
}


.name{
    font-weight: bold;  
}

.bemo_post{
    width: 294px;
    height: 294px;
    margin: 10px;
}

header{
    height: 170px;
    margin: 44px;
}

.btn-board{
    color: white !important;
}

.nav-white{
    background-color: white !important;
}