
@import "materialize";

.wholeset{
    background-color:silver;
}
.go {
    width: 500px;
}

.btn_global {
    font-size: 20px;
    font-weight: 700;
    line-height: 61px;
    display: block;
    width: 100%;
    height: 61px;
    margin: 30px 0 13px;
    padding-top: 2px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 0;
    background-color: #1fbc02;
    -webkit-appearance: none;
}


.bemo_logo{
    width: 152px;
    height: 152px;
}

.logo1{
    width: 170px;
    height: 55px;
}

.search_logo{
    width: 215px;
    height: 33px;
}

.btn_login{
    background-color: white !important;
    color: blue !important;
    font-weight: bold !important;
}

.round_pic{
    border-radius: 50%;
}
.vide{
    height: 50px; 
}
.container2{
    display: flex;
    justify-content: center;
}
.row_1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 500px;
}

.rr {
    width: 30px;
}

.nav-white{
    background-color: white !important;
}

.lalavla{
    width:100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.swing{
    font-family:sans-serif;
    font-size: 20px;
}
.circle {
    background-image: url('/assets/warmtone.png');
    border-radius: 100%;
    cursor: pointer;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    overflow: hidden;
    transform: translateZ(0);
    margin-left: 30px;
    margin-right: 30px;
}
.circle:before, .circle:after {
    box-sizing: border-box;
    border-radius: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    box-shadow: 
        inset 150px 0 0 rgba(255, 249, 230,0.4), 
        inset 0 150px 0 rgba(255, 249, 230,0.4), 
        inset -150px 0 0 rgba(255, 249, 230,0.4), 
        inset 0 -150px 0 rgba(255, 249, 230,0.4);
    transition: box-shadow 0.5s, color 0.8s;
}
.circle:after {
    transform: rotate(45deg);
}
.circle:hover:after, .circle:hover:before {
    box-shadow: 
        inset 15px 0 0 rgba(255, 0, 0, 0.5), 
        inset 0 15px 0 rgba(252, 150, 0, 0.5), 
        inset -15px 0 0 rgba(0, 255, 0, 0.5), 
        inset 0 -15px 0 rgba(0, 150, 255, 0.5);
} 

.circlee {
    background-image: url('/assets/wedding.jpg');
    border-radius: 100%;
    cursor: pointer;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    overflow: hidden;
    transform: translateZ(0);
    margin-left: 30px;
    margin-right: 30px;
}
.circlee:before, .circlee:after {
    box-sizing: border-box;
    border-radius: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    box-shadow: 
        inset 150px 0 0 rgba(255, 237, 222,0.4), 
        inset 0 150px 0 rgba(255, 237, 222,0.4), 
        inset -150px 0 0 rgba(255, 237, 222,0.4), 
        inset 0 -150px 0 rgba(255, 237, 222,0.4);
    transition: box-shadow 0.5s, color 0.8s;
}
.circlee:after {
    transform: rotate(45deg);
}
.circlee:hover:after, .circlee:hover:before {
    box-shadow: 
        inset 15px 0 0 rgba(255, 0, 0, 0.5), 
        inset 0 15px 0 rgba(252, 150, 0, 0.5), 
        inset -15px 0 0 rgba(0, 255, 0, 0.5), 
        inset 0 -15px 0 rgba(0, 150, 255, 0.5);
}     

.circleee {
    background-image: url('/assets/date.jpg');
    border-radius: 100%;
    cursor: pointer;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    overflow: hidden;
    transform: translateZ(0);
    margin-left: 30px;
    margin-right: 30px;
}
.circleee:before, .circleee:after {
    box-sizing: border-box;
    border-radius: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    box-shadow: 
        inset 150px 0 0 rgba(255, 221, 198,0.4), 
        inset 0 150px 0 rgba(255, 221, 198,0.4), 
        inset -150px 0 0 rgba(255, 221, 198,0.4), 
        inset 0 -150px 0 rgba(255, 221, 198,0.4);
    transition: box-shadow 0.5s, color 0.8s;
}
.circleee:after {
    transform: rotate(45deg);
}
.circleee:hover:after, .circleee:hover:before {
    box-shadow: 
        inset 15px 0 0 rgba(255, 0, 0, 0.5), 
        inset 0 15px 0 rgba(252, 150, 0, 0.5), 
        inset -15px 0 0 rgba(0, 255, 0, 0.5), 
        inset 0 -15px 0 rgba(0, 150, 255, 0.5);
}     

.circleeee {
    background-image: url('/assets/freckles.jpg');
    border-radius: 100%;
    cursor: pointer;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    overflow: hidden;
    transform: translateZ(0);
    margin-left: 30px;
    margin-right: 30px;
}
.circleeee:before, .circleeee:after {
    box-sizing: border-box;
    border-radius: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    box-shadow: 
        inset 150px 0 0 rgba(255, 200, 177,0.4), 
        inset 0 150px 0 rgba(255, 200, 177,0.4), 
        inset -150px 0 0 rgba(255, 200, 177,0.4), 
        inset 0 -150px 0 rgba(255, 200, 177,0.4);
    transition: box-shadow 0.5s, color 0.8s;
}
.circleeee:after {
    transform: rotate(45deg);
}
.circleeee:hover:after, .circleeee:hover:before {
    box-shadow: 
        inset 15px 0 0 rgba(255, 0, 0, 0.5), 
        inset 0 15px 0 rgba(252, 150, 0, 0.5), 
        inset -15px 0 0 rgba(0, 255, 0, 0.5), 
        inset 0 -15px 0 rgba(0, 150, 255, 0.5);
} 
.circleeeee {
    background-image: url('/assets/mimi cheek.jpg');
    border-radius: 100%;
    cursor: pointer;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    overflow: hidden;
    transform: translateZ(0);
    margin-left: 30px;
    margin-right: 30px;
}
.circleeeee:before, .circleeeee:after {
    box-sizing: border-box;
    border-radius: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    box-shadow: 
        inset 150px 0 0 rgba(255, 187, 164,0.4), 
        inset 0 150px 0 rgba(255, 187, 164,0.4), 
        inset -150px 0 0 rgba(255, 187, 164,0.4), 
        inset 0 -150px 0 rgba(255, 187, 164,0.4);
    transition: box-shadow 0.5s, color 0.8s;
}
.circleeeee:after {
    transform: rotate(45deg);
}
.circleeeee:hover:after, .circleeeee:hover:before {
    box-shadow: 
        inset 15px 0 0 rgba(255, 0, 0, 0.5), 
        inset 0 15px 0 rgba(252, 150, 0, 0.5), 
        inset -15px 0 0 rgba(0, 255, 0, 0.5), 
        inset 0 -15px 0 rgba(0, 150, 255, 0.5);
}         
.gg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10%;
}
a {
    text-align: center;
}

.login {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.register {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.actions {
    display: flex;
    justify-content: center;
}

.field {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.mainimage {
    width: 250px;
    height: 320px;
    display: flex;
    justify-content: space-between;
}

.card-image {
    width: 236px;
    height: 300px;
    border-radius: 30px;
}

.card-reveal {
    width: 250px !important;
    height: 300px !important;
}

.card {
    margin: 10%;
}


.d-flex {
    display: flex;
    justify-content: space-around;
}

.LogoAbout {
    width: 136px;
    height: 64px;
}

.nav-items {
    color: rgb(223, 154, 165);
}

.profile-photo-box {
    width: 292px;
    height: 152px;
}

.profile-photo {
    width: 152px;
    height: 152px;
    border-radius: 50%;
}

.font-gray {
    color: rgb(177, 174, 174);
}

.photo-flex {
    display: flex;
}

.loginbutton {
    color: white;
    background-color: rgb(223, 154, 165);
}

.feed {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.card-title {
    font-family: 'Nanum Gothic', sans-serif;
    font-style: rgba(75, 75, 60, 0.39);
    font-size: 30px;
}

.to {
    margin-top: 80%;
}

.makeupcontent {
    height: 10%;
}

.font-gray {
    color: rgb(177, 174, 174);
}
